* {
  box-sizing: border-box;
}
body {
  max-width:1200px;
  margin:0 auto;
}

.options input, .options button {
  width:100%;
  margin:1em;

}

.options input:last-of-type {
  width: 49%;
}
.options button {
  font-size:1em;
}
canvas {
  display: inline-block;
  width:100%;
}